<%- include('../../partials/hopeNavbar') %> <%- include('../../partials/flash')
%>
<div class="conatiner-fluid content-inner mt-5 py-0">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Expense</h4>
            <a href="/expenses/new">Add New Expense</a>
          </div>
          <div class="form-group">
            <%const today = new Date()%>
            <label for="month"
              >To:
              <a
                data-bs-toggle="tooltip"
                data-bs-original-title="Searches dates from the first day of the month"
              >
                <svg
                  width="21"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.81409 20.4368H19.1971C20.7791 20.4368 21.7721 18.7267 20.9861 17.3527L13.8001 4.78775C13.0091 3.40475 11.0151 3.40375 10.2231 4.78675L3.02509 17.3518C2.23909 18.7258 3.23109 20.4368 4.81409 20.4368Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M12.0024 13.4147V10.3147"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M11.995 16.5H12.005"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </label>
            <input
              type="month"
              class="form-control"
              id="month"
              value="<%=today.toISOString().substring(0,7)%>"
            />
          </div>
          <div class="form-group">
            <%let tomorrow = new Date(today.getFullYear(),today.getMonth(),1)%>
            <label for="emonth"
              >From:
              <a
                data-bs-toggle="tooltip"
                data-bs-original-title="First select dates then click the autocomplete in Search"
              >
                <svg
                  width="21"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.81409 20.4368H19.1971C20.7791 20.4368 21.7721 18.7267 20.9861 17.3527L13.8001 4.78775C13.0091 3.40475 11.0151 3.40375 10.2231 4.78675L3.02509 17.3518C2.23909 18.7258 3.23109 20.4368 4.81409 20.4368Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M12.0024 13.4147V10.3147"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M11.995 16.5H12.005"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </label>
            <input
              type="month"
              class="form-control"
              id="emonth"
              value="<%=tomorrow.toISOString().substring(0,7)%>"
            />
          </div>
          <div class="searchScreen">
            <div class="searchInputBox">
              <input
                type="text"
                class="searchInput form-control"
                placeholder="Search"
              />

              <div class="filterButton"></div>
              <div class="queryBox">
                <div class="priceBox"></div>
              </div>
              <div class="searchRealButton"></div>
              <div class="fakeBar"></div>
            </div>
            <ul class="autocompleteBox"></ul>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="datatable" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>

                  <th>Total</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <%for(let expense of expenses){%>
                <tr>
                  <td>
                    <a
                      href="/expenses/<%=expense._id%>/edit"
                      data-bs-toggle="tooltip"
                      data-bs-original-title="Edit expense"
                    >
                      <svg
                        width="32"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.7476 20.4428H21.0002"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M12.78 3.79479C13.5557 2.86779 14.95 2.73186 15.8962 3.49173C15.9485 3.53296 17.6295 4.83879 17.6295 4.83879C18.669 5.46719 18.992 6.80311 18.3494 7.82259C18.3153 7.87718 8.81195 19.7645 8.81195 19.7645C8.49578 20.1589 8.01583 20.3918 7.50291 20.3973L3.86353 20.443L3.04353 16.9723C2.92866 16.4843 3.04353 15.9718 3.3597 15.5773L12.78 3.79479Z"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M11.021 6.00098L16.4732 10.1881"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                    <a
                      href="/expenses/<%=expense._id%>"
                      data-bs-toggle="tooltip"
                      data-bs-original-title="Show expense"
                      ><svg
                        width="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle
                          cx="11.7669"
                          cy="11.7666"
                          r="8.98856"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></circle>
                        <path
                          d="M18.0186 18.4851L21.5426 22"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg
                    ></a>
                    <%=expense.clientName%>
                  </td>
                  <td><%=expense.clientAddress%></td>

                  <td><%=expense.totalAmountAll%></td>
                  <td>
                    <%let date =
                    expense.date%><%=date.toISOString().substring(0,10)%>
                  </td>
                </tr>
                <%}%>
              </tbody>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Address</th>

                  <th>Total</th>
                  <th>Date</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-md-6">
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="datatable_paginate"
            >
              <ul class="pagination">
                <li
                  class="paginate_button page-item previous <%if(p==1){%>disabled<%}%>"
                  id="datatable_previous"
                >
                  <a
                    href="https://maxfood.up.railway.app/expenses?p=<%=parseInt(p)-1%>"
                    class="page-link"
                    >Previous</a
                  >
                </li>
                <li class="paginate_button page-item <%if(p==1){%>active<%}%>">
                  <a
                    href="https://maxfood.up.railway.app/expenses?p=1"
                    class="page-link"
                    >1</a
                  >
                </li>
                <li class="paginate_button page-item <%if(p==2){%>active<%}%>">
                  <a
                    href="https://maxfood.up.railway.app/expenses?p=2"
                    class="page-link"
                    >2</a
                  >
                </li>
                <li class="paginate_button page-item <%if(p==3){%>active<%}%>">
                  <a
                    href="https://maxfood.up.railway.app/expenses?p=3"
                    class="page-link"
                    >3</a
                  >
                </li>
                <li class="paginate_button page-item <%if(p==4){%>active<%}%>">
                  <a
                    href="https://maxfood.up.railway.app/expenses?p=4"
                    class="page-link"
                    >4</a
                  >
                </li>
                <li class="paginate_button page-item disabled">
                  <a class="page-link">...</a>
                </li>
                <li
                  class="paginate_button page-item <%if(p==count){%>active<%}%>"
                >
                  <a
                    href="https://maxfood.up.railway.app/expenses?p=<%=count%>"
                    class="page-link"
                    ><%=count%></a
                  >
                </li>
                <li
                  class="paginate_button page-item next <%if(p==count){%>disabled<%}%>"
                  id="datatable_next"
                >
                  <a
                    href="https://maxfood.up.railway.app/expenses?p=<%=parseInt(p)+1%>"
                    class="page-link"
                    >Next</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/Corporate/supplierSearchExpense.js"></script>
<%- include('../../partials/hopeFooter') %>
