<%- include('../../partials/hopeNavbar') %>
<%- include('../../partials/flash') %>
<div class="conatiner-fluid content-inner mt-5 py-0">
    
    <div class="col-6 offset-3">
        <h1 class="text-center">WELCOME BACK <%=req.username.toUpperCase()%> <%=req.role%></h1>
    </div>
</div>
<script src="/js/Corporate/saveA.js"></script>
<%- include('../../partials/hopeFooter') %>